.cardProject {
    background-color: var(--white);
    height: 550px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    margin-bottom: 30px;
    border-radius: 25px 25px 25px 25px;
    transition: all 0.5s ease-in-out;
}

.cardBodyProject {
  color: var(--blue);
}


.containerImgProject .cardImgProject {
    height: 100px;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 500px);
}

.containerImgProject .cardImgProject:hover {
    transform: translate3d(0px, 0px, 50px);
}

.cardImgProject {
    position: relative;
    top: 30px;
    left: 15px;
    border-radius: 15px;
}

.cardBodyProject {
    padding: 50px 10px 10px 10px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}

.cardBodyProject h3 {
    font-size: 1.5em;
}

.desc {
    font-weight: bold;
}

.githubLinkCard {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    margin-top: 25px;
    height: 40px;
}

.parent {
  width: 300px;
  margin: 0 5px 30px 5px;
}

.content-box {
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-content {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content-box .langContainer {
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .langContainer:hover {
  transform: translate3d(0px, 0px, 50px);
}


.content-box .githubLinkCard div:hover {

  .logoGitHub {
    transition: all 0.5s ease-in-out;
    scale: 1.2;
  }

}

.backCard {
  display: none;
}

.containerCard {
  perspective: 1000px;
  height: 100%;
}

@media (min-width:1024px) {

  .cardImgProject {
    opacity: 0;
    transition: opacity 5s;
  }

  .containerCard {
    opacity: 0;
  }

  .parent:hover {
    
    .cardImgProject {
      opacity: 1;
    }

    .containerCard {
      transition: opacity 1.2s;
      opacity: 1;
    }

    .backCard {
      transform: scale(-1, 1);
      position: absolute;
      transition: opacity .3s;
      opacity: 0;
      perspective: 1000px;
    }

    .card {
      transform: rotateY(0deg);
    }
  }

  .backCard {
    transform: scale(-1, 1);
    position: absolute;
    width: 300px;
    background-color: var(--blue);
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backCard span {
    font-family: var(--lovelo);
    color: var(--white);
    transform: rotate(-45deg);
    font-size: 2em;
  }
  
  
  .card {
    width: 300px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    transform: rotateY(180deg);
    margin: 0 5px;
  }


}