@keyframes colorChange {
    0% {
        border: 3px solid var(--white);
    }
    40% {
        border: 3px solid var(--grey);
    }
    70% {
        border: 3px solid var(--blue);
    }
    100% {
        border: 3px solid var(--white);
    }
}

.schemaBox {
    position: relative;
    width: 80%;
    max-width: 800px;
}

.lineStyle {
    border: 3px solid var(--white);
}

.heightLine1 {
    position: relative;
    top: 40px;
    transform: rotate(90deg);
    width: 100px;
    animation: colorChange infinite 5s;
}

.heightLine2{
    position: relative;
    transform: rotate(90deg);
    width: 100px;
}

.widhtLine {
    position: relative;
    top: 80px;
    animation: colorChange infinite 5s;
}

.heightLineLeft {
    position: relative;
    left: -50%;
    top: 131px;
    transform: rotate(90deg);
    width: 130px;
    animation: colorChange infinite 5s;
}

.heightLineRight {
    position: relative;
    left: 50%;
    top: 117px;
    transform: rotate(90deg);
    width: 130px;
    animation: colorChange infinite 5s;
}

.posDot1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.posDot2 {
    position: relative;
    top: 160px;
    transform: translateX(-50%);
}

.posDot3 {
    position: relative;
    left: 100%;
    top: 128px;
    transform: translateX(-50%);
}

.circle-dot {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--white);
    z-index: 1;
}

.posSquare1 {
    position: absolute;
    left: 50%;
    top: 137px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.square {
    width: 2em;
    height: 2em;
    background-color: var(--white);
    z-index: 1;
}


.frontTitle {
    position: absolute;
    width: 100px;
    bottom: 10px;
    font-family: var(--lovelo);
    color: var(--white);
}

.backTitle {
    position: absolute;
    width: 100px;
    bottom: 10px;
    right: -25px;
    font-family: var(--lovelo);
    color: var(--white);
}