@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

.portfolioHeader {
    background-color: var(--white);
    min-height: 50px;
    transition: box-shadow 1.5s ease;
}

.portfolioHeader.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.363);
    animation: smoothScroll 1s forwards;
    z-index: 2;
  }

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.logo {
    font-family: var(--lovelo);
    font-size: 40px;
    color: var(--blue);
}