.projectView {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectView h2 {
    font-family: var(--lovelo);
    color: var(--white);
}

@media (min-width:1024px) {
    
}