.buttonCV {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    width: 235px;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--white);
    border: none;
    transition: .3s;
}

.buttonCV:hover {
    transition: .3s;
    background-color: var(--grey);
    scale: 1.05;
}

.buttonCV:active {
    transition: 0s;
    background-color: var(--blue);
    color: var(--white);
}

.iconDL {
    margin-left: 10px;
}