@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50%  {
        transform: translateY(-20px);
    }
}

.firstView {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameDesc {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 50px auto;
}

.nameDesc>h1 {
    font-family: var(--lovelo);
    font-size: 2rem;
    color: var(--white);
}

.socialNetwork {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialNetwork .buttonSN>a:nth-child(1) {
    margin-right: 50px;
}

.iconSN {
    color: var(--white);
    transition: all .3s;
}

.iconSN:hover {
    color: var(--grey);
    scale: 1.1;
}

.cvContainer {
    margin-top: 50px;
}

.buttonsFirstView {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.arrowScrollDown {
    margin: 100px 0;
}

.iconArrowDown {
    color: var(--blue);
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px;
    animation: bounce 1.3s ease infinite;
}

